HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Directorio del sistema
.DS_Store
Thumbs.db

# Archivos de compilación
*.class
*.war
*.jar

# Archivos generados por IDEs
/.idea/
/*.iml
/.vscode/
*.swp

# Directorios de compilación
/target/
/bin/
/build/

# Dependencias descargadas por Maven o Gradle
/.mvn/
/.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.properties
/.gradle/
/.gradle/*

# Logs y configuraciones temporales
*.log
hs_err_pid*
/logs/

# Archivos de configuración específicos del sistema operativo
*.sublime-project
*.sublime-workspace

# Archivos de entorno y de configuración sensible
.env
*.env
*.properties
application-*.yml
application-*.yaml
application-*.properties
secret-config.yaml

# Archivos de configuración para contenedores
docker-compose.override.yml
.dockerignore
Dockerfile

# Archivos específicos de Spring Boot
.spring-boot-devtools.properties

# Configuraciones de Java
.settings/

# Archivos de caché de Lombok
.lombok/

# Archivos de terraform
*.tfvars
*.tf
